@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

fieldset {
  border: none; }

table {
  border-collapse: collapse; }

/*----- header -----------------------------------------------------*/
#header {
  width: calc(100% -100px);
  height: 80px;
  background: #000;
  padding-left: 100px; }
  #header .inner {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #header .inner .menuWeb {
      width: calc(100% -100px);
      height: 100%;
      margin: 0 10vw;
      position: relative; }
      #header .inner .menuWeb h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        #header .inner .menuWeb h1 a {
          font: 400 22px/1 'roboto condensed';
          color: #fff; }
      #header .inner .menuWeb #gnb_left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }
        #header .inner .menuWeb #gnb_left li {
          float: left;
          margin-right: 30px; }
          #header .inner .menuWeb #gnb_left li a {
            font-size: 16px;
            font-weight: 400;
            font-family: 'roboto condensed';
            color: #aaa; }
      #header .inner .menuWeb #gnb_right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); }
        #header .inner .menuWeb #gnb_right li {
          float: left;
          margin-left: 30px; }
          #header .inner .menuWeb #gnb_right li a {
            font-size: 16px;
            font-weight: 400;
            font-family: 'roboto condensed';
            color: #aaa; }
    #header .inner .btnCall {
      display: none; }
    #header .inner .menuMo {
      display: none; }

/* ----- section1/visual -------------------------------------------*/
#visual {
  width: calc(100% -100px);
  height: 100vh;
  padding-left: 100px;
  background: #777; }

/* ----- section2/history -------------------------------------------*/
#history {
  width: calc(100% -100px);
  height: 300px;
  padding-left: 100px;
  background: #333; }

/* ----- section3/theViews -----------------------------------------*/
#Views {
  width: 100%;
  height: 570px; }
  #Views .inner {
    width: 1180px;
    height: 100%;
    padding: 100px 0 0;
    margin: 0 auto;
    position: relative; }
    #Views .inner .viewPic {
      width: 420px;
      height: 570px;
      position: absolute;
      top: -70px;
      left: 150px;
      z-index: 2; }
      #Views .inner .viewPic img {
        width: 100%;
        object-fit: cover; }
    #Views .inner .desMore {
      width: 400px;
      position: absolute;
      top: 100px;
      left: calc( 150px + 420px + 100px); }
      #Views .inner .desMore h1 {
        font: 700 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 10px; }
      #Views .inner .desMore h2 {
        font: 300 14px/1 'roboto condensed';
        color: #555;
        letter-spacing: 3px;
        margin-bottom: 20px; }
      #Views .inner .desMore p {
        font: 300 12px/2 'roboto condensed';
        color: #555;
        margin-bottom: 20px; }
      #Views .inner .desMore a {
        font: 700 12px/1 'roboto condensed';
        color: #333;
        letter-spacing: 2px; }

/* ----- section4/vid ------------------------------------------------*/
#vid {
  width: 100%;
  height: 600px; }
  #vid .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #vid .inner .vidWrap {
      width: 1100px;
      height: 440px;
      margin: 0 auto; }
      #vid .inner .vidWrap video {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    #vid .inner .desBtn {
      width: 420px;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      bottom: 76px;
      left: 150px; }
      #vid .inner .desBtn h1 {
        font: 700 14px/20px 'roboto condensed';
        color: #ccc;
        letter-spacing: 4px;
        padding: 15px 30px; }
      #vid .inner .desBtn p {
        font: 400 12px/2 'roboto condensed';
        color: #ccc;
        letter-spacing: 1px;
        padding: 20px 30px 15px; }
      #vid .inner .desBtn ul {
        position: absolute;
        top: 5px;
        right: 30px; }
        #vid .inner .desBtn ul li {
          float: left;
          padding: 5px; }
          #vid .inner .desBtn ul li i {
            color: #fff;
            font-size: 10px; }

/* ----- section5/landscate-waterfall -------------------------------*/
#landscape {
  width: 100%;
  height: 570px; }
  #landscape .inner {
    width: 1180px;
    height: 100%;
    padding: 100px 0 0px;
    margin: 0 auto;
    position: relative; }
    #landscape .inner .waterPic {
      width: 420px;
      height: 570px;
      position: absolute;
      bottom: -70px;
      right: 150px;
      z-index: 2; }
      #landscape .inner .waterPic img {
        width: 100%;
        object-fit: cover; }
    #landscape .inner .desMore {
      width: 400px;
      position: absolute;
      top: 170px;
      right: calc( 150px + 420px + 100px); }
      #landscape .inner .desMore h1 {
        font: 700 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 10px; }
      #landscape .inner .desMore h2 {
        font: 300 14px/1 'roboto condensed';
        color: #555;
        letter-spacing: 3px;
        margin-bottom: 20px; }
      #landscape .inner .desMore p {
        font: 300 12px/2 'roboto condensed';
        color: #555;
        margin-bottom: 20px; }
      #landscape .inner .desMore a {
        font: 700 12px/1 'roboto condensed';
        color: #333;
        letter-spacing: 2px; }

/* ----- section6/experience----------------------------------------*/
#experience {
  width: 100%;
  height: 670px;
  background: url(../img/banner.jpg) no-repeat top/cover; }
  #experience .bgWrap {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    filter: grayscale(100%);
    background: #000; }
    #experience .bgWrap .inner {
      width: 1180px;
      height: 570px;
      margin: 0 auto;
      padding-top: 200px; }
      #experience .bgWrap .inner h1 {
        font: 700 28px/1 'roboto condensed';
        color: #fff;
        letter-spacing: 5px;
        margin-bottom: 10px;
        text-align: center; }
      #experience .bgWrap .inner h2 {
        font: 300 14px/1 'roboto condensed';
        color: #ccc;
        letter-spacing: 3px;
        margin-bottom: 20px;
        text-align: center; }
      #experience .bgWrap .inner .wrap {
        display: flex;
        justify-content: center; }
        #experience .bgWrap .inner .wrap article {
          width: 280px;
          margin-right: 30px; }
          #experience .bgWrap .inner .wrap article:last-child {
            margin-right: 0; }
          #experience .bgWrap .inner .wrap article .ExPic {
            width: 100%;
            height: 170px;
            overflow: hidden;
            margin-bottom: 20px; }
            #experience .bgWrap .inner .wrap article .ExPic img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s; }
            #experience .bgWrap .inner .wrap article .ExPic:hover img {
              transform: scale(1.2); }
          #experience .bgWrap .inner .wrap article h3 {
            font: 700 14px/1 'roboto condensed';
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 10px; }
          #experience .bgWrap .inner .wrap article p {
            font: 400 12px/2 'roboto condensed';
            color: #ccc;
            margin-bottom: 10px; }
          #experience .bgWrap .inner .wrap article a {
            font: 700 12px/1 'roboto condensed';
            color: #fff; }

/* ----- section7/wildLife--------------------------------------------*/
#wildLife {
  width: 100%;
  height: 672px;
  background: #000; }
  #wildLife .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #wildLife .inner .wildPic {
      width: 1100px;
      height: 440px;
      margin: 0 auto; }
      #wildLife .inner .wildPic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    #wildLife .inner .desBtn {
      width: 420px;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      bottom: 76px;
      right: 150px; }
      #wildLife .inner .desBtn h1 {
        font: 700 14px/20px 'roboto condensed';
        color: #ccc;
        letter-spacing: 4px;
        padding: 15px 30px; }
      #wildLife .inner .desBtn p {
        font: 400 12px/2 'roboto condensed';
        color: #ccc;
        letter-spacing: 1px;
        padding: 20px 30px 15px; }
      #wildLife .inner .desBtn ul {
        position: absolute;
        top: 5px;
        right: 30px; }
        #wildLife .inner .desBtn ul li {
          float: left;
          padding: 5px; }
          #wildLife .inner .desBtn ul li i {
            color: #fff;
            font-size: 10px; }

/* ----- section8/trip ------------------------------------------------*/
#trip {
  width: 100%;
  height: 570px; }
  #trip .inner {
    width: 1180px;
    height: 100%;
    padding: 100px 0 0;
    margin: 0 auto;
    position: relative; }
    #trip .inner .tripPic {
      width: 420px;
      height: 570px;
      position: absolute;
      top: -70px;
      left: 150px;
      z-index: 2; }
      #trip .inner .tripPic img {
        width: 100%;
        object-fit: cover; }
    #trip .inner .desMore {
      width: 400px;
      position: absolute;
      top: 100px;
      left: calc( 150px + 420px + 100px); }
      #trip .inner .desMore h1 {
        font: 700 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 10px; }
      #trip .inner .desMore h2 {
        font: 300 14px/1 'roboto condensed';
        color: #555;
        letter-spacing: 3px;
        margin-bottom: 20px; }
      #trip .inner .desMore p {
        font: 300 12px/2 'roboto condensed';
        color: #555;
        margin-bottom: 20px; }
      #trip .inner .desMore a {
        font: 700 12px/1 'roboto condensed';
        color: #333;
        letter-spacing: 2px; }

/* ----- section9/stories  --------------------------------------------*/
#stories {
  width: 100%;
  height: 370px;
  background: #444; }
  #stories .inner {
    width: 1180px;
    margin: 0 auto; }
    #stories .inner h1 {
      font: 700 28px/1 'roboto condensed';
      color: #000;
      letter-spacing: 5px;
      margin-bottom: 10px;
      text-align: center; }
    #stories .inner h2 {
      font: 300 14px/1 'roboto condensed';
      color: #777;
      letter-spacing: 3px;
      margin-bottom: 20px;
      text-align: center; }
  #stories .storyGallery {
    width: 100%;
    display: flex;
    margin-bottom: 70px; }
    #stories .storyGallery .storyPic {
      width: 240px;
      height: 120px;
      margin: 20px;
      overflow: hidden; }
      #stories .storyGallery .storyPic img {
        width: 100%;
        height: 100%; }

/* ----- section10/area  ---------------------------------------------*/
#area {
  width: 100%;
  height: 600px; }
  #area .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #area .inner .areaPic {
      width: 1100px;
      height: 440px;
      margin: 0 auto; }
      #area .inner .areaPic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    #area .inner .desBtn {
      width: 420px;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      bottom: 53px;
      left: 150px; }
      #area .inner .desBtn h1 {
        font: 700 14px/20px 'roboto condensed';
        color: #ccc;
        letter-spacing: 4px;
        padding: 15px 30px; }
      #area .inner .desBtn p {
        font: 400 12px/2 'roboto condensed';
        color: #ccc;
        letter-spacing: 1px;
        padding: 20px 30px 15px; }
      #area .inner .desBtn ul {
        position: absolute;
        top: 5px;
        right: 30px; }
        #area .inner .desBtn ul li {
          float: left;
          padding: 5px; }
          #area .inner .desBtn ul li i {
            color: #fff;
            font-size: 10px; }

/*----- footer --------------------------------------------------------*/
#footer {
  width: 100%;
  background: url(../img/banner.jpg) no-repeat top/cover; }
  #footer .footerBg {
    opacity: 0.9;
    filter: grayscale(100%);
    background: #000; }
    #footer .footerBg .inner {
      width: 1180px;
      margin: 0 auto;
      position: relative;
      padding: 80px 0; }
      #footer .footerBg .inner h1 {
        font: 700 28px/1 'roboto condensed';
        color: #fff;
        letter-spacing: 5px;
        margin-bottom: 10px;
        text-align: center; }
      #footer .footerBg .inner h2 {
        font: 300 14px/1 'roboto condensed';
        color: #ccc;
        letter-spacing: 3px;
        margin-bottom: 20px;
        text-align: center; }

/*# sourceMappingURL=style.css.map */
