.community{

  .sub_visual{
    background: url(../img/sub3.jpg) no-repeat bottom/cover fixed;
    background-position: right 50% bottom 0%;
    filter: contrast(120%);
  }
}



#searchQstn{
  width: 80%;
  margin-left: 20%;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;
    border: 1px solid #000;

    .qstn{
      width: 50%;
      border: 1px solid red;
    }
    .answersBy{
      width: 50%;
      border: 1px solid blue;
    }
  }
}

#tab_community{
  width: 100%;
  background: pink;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    dl{
      width: 100%; 
      ::after{content: ""; display:block; clear: both;}

      dt{
        width: 20%;
        float:left;
        display: none;
        &.on {display: block;}

        border: 1px solid green;


      }

      dd{
        width: 80%; 
        float:right;
        display: none;
        &.on {display: block;}

        border: 1px solid purple;

      }
    }
  }
}
