.community{

  .sub_visual{
    background: url(../img/sub3.jpg) no-repeat bottom/cover fixed;
    background-position: right 50% bottom 0%;
    filter: contrast(120%);
  }
}



#searchQstn{
  width: 80%;
  margin-left: 20%;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;
    border: 1px solid #000;

    .qstn{
      width: 50%;
      border: 1px solid red;
    }
    .answersBy{
      width: 50%;
      border: 1px solid blue;
    }
  }
}

#tab_community{
  width: 100%;
  background: pink;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    dl{
      width: 100%; 
      ::after{content: ""; display:block; clear: both;}

      dt{
        width: 20%;
        float:left;
        &.on {background: $gold;}

        border: 1px solid green;


      }

      dd{
        width: 80%; 
        float:right;
        display: none;
        &.on {display: block;}

        border: 1px solid purple;

      /*fisrt board-FAQ*/
      #FAQ{
        width: 100%;
      }
      /*second board-NOTICE*/
      #notice{
        table{
          width: 100%;
          margin-bottom: 50px;
          border-collapse: collapse;
    
          tr{
            th{
              padding: 30px 15px;
              background: $green; color: #fff;          
            }
    
            &:nth-of-type(1) { width: 10%;}
            &:nth-of-type(3) { width: 15%;}
            &:nth-of-type(4) { width: 15%;}
          
            td{
              padding: 30px 15px; opacity: 0.7;
              border-bottom: 1px solid #ddd;
              text-align: center; color:$beige ;
              &:nth-of-type(2){
                text-align: left;
                a{
                  text-align: left; color: $beige; 
                  font: normal 16px/1 'noto sans';
                }
              }
              &:nth-of-type(3) {font-family: 'noto sans kr';}          
            }
    
            &:hover td{ opacity: 1; background: #eee;}
          }
        }
    
        .pagnation{
          width: 100%;
          display: flex; justify-content: space-between; align-items: center;
          >a{
            display: inline-block;
            width: 30px; height: 30px; 
            font: normal 20px/30px 'noto sans'; color: $beige; opacity: 0.7;
          }
          .numbers{
            display: flex; justify-content: space-around; align-items: center;
    
            >a{
              display: inline-block;
              width: 30px; height: 30px; 
              font: normal 20px/30px 'noto sans'; color: $beige; text-align: center;
              opacity: 0.7;
              &.on{ border-bottom: 1px solid #000; opacity: 1;}
            }
            
          }
          
        }
      }

      }
    }
  }
}
