.join{
  .sub_visual{
    background: url(../img/sub11.jpg) no-repeat bottom/cover fixed;
  }
}

/*----- joinform --------------------------------------------------*/
#joinForm{
  width: 100%;
  margin-bottom: 100px;

  .inner{
    width: 1180px;
    position: relative;
    margin: 0 auto;

    h1, h2{
      font: 500 30px/1 'roboto';
      margin-bottom: 30px;
    }

    table{
      width: 100%;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      margin-bottom: 60px;

      th, td{
        border-bottom: 1px solid #ddd;
        padding: 15px 25px;
      }
      th{
        width: 20%;
      }
      td{
        input[type=text], input[type=password]{
          width: 60%; padding: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
          &:focus{
            outline: none;
            border: 2px solid rgba(209, 172, 143, 0.4);
            box-shadow: 0 0 0 4px rgba(209, 172, 143, 0.1);
          }
        }
        input[type=checkbox]{
          display: inline-block;
          margin: 0 10px 0 30px;
        }
        select{
          width: 10%; padding: 10px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
        }
        label{
          font: 300 16px/1 'roboto';
          position: relative; top: -2px;
          margin: 10px;
        }

        //error message style
        p{
          font: 11px/1 "맑은 고딕";
          color: hotpink;
          margin-top: 5px;
        }
      }
    }

    /*Cancel, Submit Button */
    .formBtns{
      display: flex; justify-content: center;
      .btns{
        width: 300px;  margin: 0 20px;
  
        input[type=reset], input[type=submit]{
          width: 100%; height: 40px;
          border: 1px solid #333;

          font: bold 14px/40px 'arial'; 
          color: #555;
          cursor: pointer; transition: 0.5s;
    
          &:hover{
            background: #333; color: #fff;
          }
        }
      }
    }

  }
}

//result페이지
#result{
  font: 700 30px/1 'roboto condensed';
  text-align: center;
  margin-bottom: 100px;
}

/*tablet*/
@media screen and (max-width:$tablet){
  .join{
    .sub_visual{
      background-position: left 50% top -158px;
    }
  }
  
  /*----- joinform --------------------------------------------------*/
  #joinForm{
    margin-bottom: 80px;
  
    .inner{
      width: 100%;
      padding: 0 30px;
  
      h1, h2{
        font-size: 24px;  
      }

      table{
        width: 100%;
        margin: 0 0px 60px;
  
        th, td{
          padding: 15px 10px;
        }
        th{
          width: 20%;
        }
        td{
          input[type=text], input[type=password]{
            display: block;
          }
          input[type=checkbox]{
            margin: 10px 0px 0 0px;
          }
          select{
            width: 20%; padding: 10px;
          }
        }
      }
  
      /*Cancel, Submit Button */
    }
  }
}

/*mobile*/
@media screen and (max-width:$mobile){
  .join{
    padding-bottom: 0px;
    .sub_visual{
      background-position: left 72% top -180px;
    }
  }
  
  /*----- joinform --------------------------------------------------*/
  #joinForm{
    margin-bottom: 40px;
  
    .inner{
      padding: 0 10px;
  
      h1, h2{
        font-size: 18px;  
      }

      table{
        width: 100%;
        margin: 0 0px 60px;
  
        th, td{
          padding: 10px 10px;
        }
        th{
          font-size: 14px;
          width: 22%;
        }
        td{
          label{
            font-size: 12px;
          }
        }
      }
    }
  }
}