/*----- location sub_visual  section ------------------*/
.location{

  .sub_visual{
    background: url(../img/sub5.jpg) no-repeat center/cover ;
    //background-position: left 0 bottom -250px;
    filter: contrast(80%);
  }
}

/*-----section contact -----------------------------------*/
#contact{
  width: 100%;
  margin-bottom: 100px;

  .inner{
    width: 1180px;
    position: relative;
    margin: 0 auto;
    &::after{content:""; display:block; clear: both;}

    h1{
      float: left; width: 100%;
      font: 500 36px/1 'roboto';
      margin-bottom: 40px;
    }
    .txt{
      float: left;
      width: 50%;

      h2{
        font: 500 20px/1 'roboto';
        margin-bottom: 30px;
      }
      p{
        font: 300 16px/1.2 'roboto';
        width: 80%;
      }
    }

    form{
      float:right;
      width: 50%;
      position: relative;

      input[type=text]{
        display: block; width: 100%;
        border: none;
        border-bottom: 1px solid #333;
        position: relative;
        height: 44px;
        background-color: transparent;
        color: #555;
        padding: 14px 0;
        outline: none;
        transition: 0.2s;
        font-size: 16px;
        transition: border-bottom 0.6s ease;

        //js focus되거나 txt가 있을경우 고정
        &:focus{
          border-bottom: 2px solid #ff3f00;
        }
        &:focus + label{
          color: #ff3f00;
          transform: translateY(-21px);
          font-size: 12px;
        }
      }


      label{
        display: inline-block;
        position: relative; top: -44px; left: 0;
        z-index: 2;
        width: 100%; height: 100%;
        padding: 21px 0 0;
        font-size: 16px;
        line-height: 1px;
        cursor: text;
        color: #555;
        transition: .2s;

        span{
          font:inherit;
          vertical-align: baseline;
        }

        &:nth-of-type(5){
          display: block;
          position: relative; top: 0px; left: 0;
          padding: 0px; height: 44px; line-height: 44px;
        }
      }

      textarea{
        width: 100%;
        resize: none;
        margin-bottom: 20px;
      }

      input[type=submit]{
        display: block; width: 120px;
        height: 40px;
      }
    }
  }
}

/*-----section store --------------------------------------*/
#store{
  width: 100%;
  border: 1px solid pink;

  .inner{
    width: 1180px;
    position: relative;
    margin: 0 auto;

    h1{
      float: left; width: 100%;
      font: 500 36px/1 'roboto';
      margin-bottom: 40px;
    }

    #map{
      width: 100%;
      height: 400px;
      border: 1px solid #000;
    }

    .branch{
      width: 100%;
      border: 1px solid #000;
    }

    article{
      width: 100%;

      img{
      width: 50%;
      }

      .txt{
        width: 50%;
        padding: 0 40px;
        border: 1px solid #000;
      }
    }
  }
}
