/*----- login sub_visual section -------------------------------*/
.login{
  width: 100%; 

  .sub_visual{
    background: url(../img/sub6.jpg) no-repeat center/cover ;
  }
}

/*----- loginPage_section ----------------------------------*/
#loginPage{
  width: 100%;
  margin-bottom: 100px;

  ::after{ content:''; display: block; clear:both;}
  .inner{
    width: 1180px;
    position: relative;
    margin: 0 auto;

    ::after{ content:''; display: block; clear:both;}

    .loginCheck{
      width: 50%; float:left;
      padding: 20px 30px;

      h1{
        font: 500 36px/1 'roboto';
        margin-bottom: 40px;
      }
      input[type=text], input[type=password]{
        width: 100%; height: 50px;
        font: 300 18px/1 'roboto';
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;

        &:focus{
          outline: none;
          border-bottom: 1px solid #000;
        }
      }
      input[type=checkbox]{
        width: 20px; height: 20px; border: 1px solid #ddd;
        margin: 10px 10px 30px 0;
      }
      label[for=loggedIn]{
        position: relative; top: -5px;
        font: 300 16px/20px 'roboto';
      }
      input[type=submit]{
        width: 100%; height: 80px;
        background: #333; color: #fff;
        text-align: center;
        font: 500 28px/80px 'roboto';
        border: none;
        cursor: pointer; 
        margin-bottom: 30px;
      }
      .snsLogin{
        width: 100%;
        ::after{ content:''; display: block; clear:both;}
        span{
          font: 500 24px/40px 'roboto';
          float: left;
        }
        ul{
          float: right;
          li{
            width: 40px; height: 40px; border: 1px solid #ddd;
            font-size: 30px; text-align: center;
            float: left;
            margin-right: 10px;
            &:nth-of-type(1){color: rgba(6, 6, 155, 0.973);}
            &:nth-of-type(2){color: $sky;}
            &:nth-of-type(3){color: rgb(224, 178, 24); margin-right: 0;}
          }
        }
      }
    }

    .goToJoin{
      width: 50%; float: right;
      padding: 20px 30px;

      h2{
        font: 500 36px/1 'roboto';
        margin-bottom: 20px;
      }
      p{
        font: 500 22px/1 'roboto';
        margin-bottom: 20px;
      }
      ul{
        width: 100%;
        margin-bottom: 47px;
        li{
          font: 300 18px/1.2 'roboto';
          margin: 0 0 10px 20px;
          list-style-type: square;
          list-style-position : inside;

        }
      }
      >a{
        display: block; 
        width: 100%; height: 80px;
        background: $gold; text-align: center;
        color: #fff;
        font: 500 28px/80px 'roboto';
        margin-bottom: 30px;
      }
      .find{
        width: 100%;
        span{
          float:left;
          height: 40px;
          font: 500 24px/40px 'roboto';
        }
        .findBtn{
          float:right;
          >a{
            display: inline-block; 
            width: 120px; height: 40px;
            margin-right: 10px;
            font: 500 14px/40px 'roboto';
            text-align: center; color: #333;
            border: 1px solid $darkblue;
            &:nth-of-type(2){ margin-right: 0;}
          }
        }
      }
    }
  }
}

  /*----- aside - shortInfo ------------------------------------*/
#shortInfo{
  width: 100%;
  margin-bottom: 40px;
  ::after{ content:''; display: block; clear:both;}

  .inner{
    width: 100%; 
    position: relative;
    margin: 0 auto;
    padding: 20px 80px 60px;

    .newsInfo{
      float: left; width: 500px;

      h1{
        font: 500 21px/1 'roboto';
        margin-bottom: 20px;
      }
      ul{
        width: 100%;

        li{
          width: 100%;
          padding: 15px 0;
          border-bottom: 1px solid #ccc;
          &:nth-of-type(1){border-top: 1px solid #ccc;}

          a{
            display: block; width: 100%;
            .title{
              font: 300 14px/1 'roboto';
              color: #333;
              float: left;
            }
            .date{
              font: 300 12px/1 'roboto';
              color: #555;
              float: right;
            }
          }
        }
      }
    }

    .noticeInfo{
      float: right; width: 50%;
      ul{
        float: right; 

        li{
          float: left; width: 120px;
          height: 132px;
          border-right: 1px solid #ccc;
          margin-top: 41px;
          display: flex; flex-direction: column; justify-content: center; align-content: center;
          cursor: pointer;

          &:nth-of-type(4){border-right: none; }
          a{
            display: block; width: 100%;
            text-align: center;

            i{
              font-size: 36px;
              color: #555;  
            }
            p{
              margin-top: 20px;
              font:  500 16px/1 'roboto';
              color: #555;
            }
          }
        }
      }
    }
  }
}


/*tablet*/
@media screen and (max-width: $tablet){
  /*----- loginPage_section -------------------------------------*/
  #loginPage{
    .inner{
      width: 100%;

      .loginCheck{
        width: 100%; float:left;
        margin-bottom: 40px;

        h1{
          font-size: 28px;
        }
        input[type=submit]{
          width: 100%; height: 60px;
          font-size: 24px;
          line-height: 60px;

        }
        .snsLogin{
          span{
            font-size: 20px;
            line-height: 30px;
          }
          ul{
            li{
              width: 30px; height: 30px; 
              font-size: 20px; 
            }
          }
        }
      }
      .goToJoin{
        width: 100%; float:left;

        h2{
          font-size: 28px;
        }
        p{
          font-size: 20px;
          margin-bottom: 20px;
        }
        ul{
          li{
            font-size: 18px;
          }
        }
        >a{
          width: 100%; height: 60px;
          font-size: 24px;
          line-height: 60px;
        }
        .find{
          span{
            font-size: 20px;
            line-height: 40px;
          }
        }
      }
    }
  }

  /*----- aside - shortInfo ------------------------------------*/
  #shortInfo{
    width: 100%;
    margin-bottom: 40px;

  
    .inner{
      width: 100%; 
      padding: 20px 20px 20px;
  
      .newsInfo{
        float: left; width: 100%;
  
        h1{
          font-size: 21px;
          margin-bottom: 20px;
        }
        ul{
          width: 100%;
  
          li{
            width: 100%;
            padding: 15px 0;
            a{
              display: block; width: 100%;
              .title{
                font-size: 14px;
              }
              .date{
                font-size: 12px;
              }
            }
          }
        }
      }
  
      .noticeInfo{
        float: left; width: 100%;
        ul{
          float: left; width: 100%;
  
          li{
            float: left; width: 25%;
            height: 80px;
            margin-top: 40px;

            a{
              i{
                font-size: 36px;
              }
              p{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}


/*mobile*/
@media screen and (max-width: $mobile){
  /*loginPage_section */
  #loginPage{
    .inner{
      width: 100%;

      .loginCheck{
        padding: 10px 10px;

      }
      .goToJoin{
        padding: 10px 10px;
        p{
          font-size: 18px;
        }
        ul{
          li{
            font-size: 14px;
            margin: 0 0 10px 5px;
          }
        }

        .find{

          span{
            margin-bottom: 20px;
          }
          .findBtn{
            width: 100%;
            float:left;
          }
        }
      }
    }
  }
  
    /*----- aside - shortInfo ------------------------------------*/
    #shortInfo{

      .inner{
        width: 100%; 
        padding: 20px;
    
        .newsInfo{

          h1{
            font-size: 18px;
          }
          ul{
            li{
              padding: 10px 0;
              a{

                .title{
                  font-size: 12px;
                }
                .date{
                  font-size: 10px;
                }
              }
            }
          }
        }
    
        .noticeInfo{

          ul{
            li{
              a{
                i{  font-size: 28px;}
                p{  font-size: 13px; }
              }
            }
          }
        }
      }
    }
  
}
