.result{
  .inner{
    padding-top: 100px;
    #result{
      background: #000;
      .wrap{
        width: 100%; height: 600px;
        opacity: 0.7; position: relative;
        background: url(../img/relax.jpg) no-repeat center/cover;
        h1{
          width: 100%;
          font: 4vw/1 'Do Hyeon'; color: $beige;
          text-align: center;
          position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        }

        a{
          display: block; margin: 0 auto; 
          padding: 20px 40px;
          font: 2vw/1 'Do Hyeon'; border: 4px solid $beige;
          color:$beige;
          position: absolute; top: 60%; left: 50%; transform: translate(-50%); transition: 0.3s;

          &:hover{
            background: $beige;
            color: $green;
          }
        }
      }

    }
  }
}

/*mobile*/
@media screen and (max-width:$mobile){
  .result{
    .inner{
      #result{
        .wrap{
          h1{
            width: 100%;
            font: 9vw/1 'Do Hyeon';
          }
  
          a{
            display: block; margin: 0 auto; 
            padding: 20px 40px;
            font: 5vw/1 'Do Hyeon';
          }
        }
      }
    }
  }
}