/*----- header_sub -----------------------------------------------------*/
#header_sub{
  width: 100%;
  position: absolute; top: 0; left: 0; z-index: 10;

  &:hover{
    background: $green;
  }

  .inner{
    width: 1180px; height: 80px;
    margin: 0 auto;
    position: relative;

    .menuWeb{
      width: 100%; height: 100%;
      position: relative;


      h1{
        position: absolute; top: 50%; left: 50%; transform: translate(-22px , -50%);

        a{
          display: block;
          font: normal 22px/1 'Monoton';
          letter-spacing: 2px;
          color: $beige;
          padding: 30px 0px;
        } 
      }

      .gnbWrap{
        width: 100%; 
        display: flex; justify-content: center;
        //상단 gnb menu
        #gnb_left{
          margin-right: 136px;
          >li{
            float:left; 
            padding: 30px 25px;

            >a{
              font: 400 14px/1 'roboto condensed';
              color: #ddd; position: relative;
            }
            
            &:hover >a{ color: $gold; }
            &.on >a{ color: $gold;}
          }
        }
        #gnb_right{
          >li{
            float: left; 
            padding: 30px 15px;
            &:nth-of-type(1){ margin-left: 20px;}

            >a{
              font: 400 14px/1 'roboto condensed'; position: relative;
              color: #ddd;
            }

            &:hover >a{ color: $gold; }
            &.on >a{ color: $gold;}
          }
        }

        //sub
        >ul >li .sub{
          display: none;
          width: 1180px;
          height: 50px;
          background: $green;
          position: absolute; left: 0px; top: 80px;
          z-index: 2;
          
          li{
            float: left; position: relative; z-index: 6;
            padding: 10px 40px 10px;

            &:nth-of-type(1){margin-left: 195px;}
            &:hover a{color: $gold;}
            a{
              font: 400 14px/1 'roboto';
              color: #aaa;
            }
          }

          &::before{
            content: "";
            display: block;
            width: 100vw; height: 50px;
            background: $green;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            border-top: 1px solid #ddd;
          }
        }
      }
    }

    .btnCall{
      display: none;
      position: absolute; top: 40%; left: 0px; z-index: 6;
      width: 20px; height: 20px; border: #fff;
      
      &::before{
        content: ""; display: block; width: 100%; height: 2px;
        background: #fff; border-radius: 4px;
        position: absolute; bottom: 0; right: 0; transform: translateY(-1px);
        transition: width 0.3s 0.4s; 
      }
      &::after{
        content: ""; display: block; width: 100%; height: 2px;
        background: #fff; border-radius: 4px;
        position: absolute; top: 0; left: 0; transform: translateY(-1px);
        transition: width 0.3s 0.4s; 
      }

      span{
        display: block; width: 100%;
        position: absolute; top: 50%; left: 0; transform: translateY(-50%);
        text-indent: -9999px;

        &::before{
          content: ""; display: block; width: 100%; height: 2px;
          background: #fff; border-radius: 4px;
          position: absolute; top: 50%; left: 0; transform: translateY(-50%);
          transition: transform 0.3s;
        }
        &::after{
          content: ""; display: block; width: 100%; height: 2px;
          background: #fff; border-radius: 4px;
          position: absolute; top: 50%; left: 0; transform: translateY(-50%);
          transition: transform 0.3s;
        }
      }

      &.on::before{ width: 0; }
      &.on::after{ width: 0; }
      &.on span::before{
        transform: rotate(45deg);
        transition: transform 0.3s 0.8s;
      }
      &.on span::after{
        transform: rotate(-45deg);
        transition: transform 0.3s 0.8s;
      }
    }

    .menuMo{
      position: fixed;
      top:0;
      left: -270px; 
      width: 270px;
      height: 100vh;
      background: #000; 
      transition: 0.5s 0.8s;
      padding: 25px 30px;
      z-index: 5;

      &.on{ left: 0px;}

      h1{
        padding-bottom: 20px;
        a{
          display: block; font: normal 20px/1 'Monoton';
          color:$beige; text-align: center; letter-spacing: 2px;
        }
      }
      #gnbMo>li{
        >a{
          display: block;
          width: 100%;
          padding: 20px 0;
          border-bottom: 1px solid #ccc;
          font: 500 14px/1 "roboto";
          color: #ccc;
          text-align: center;
          >img{ display: none;}
        }
      }
    }
  }
}


/*----- content -------------------------------*/
.content{
  width: 100%; 
  margin-bottom: 150px;

  .sub_visual{
    width: 100%;
    height: 500px;
    background: #000; position: relative; z-index: -1;

    &::after{
      content: ""; display: block;
      width: inherit; height: inherit;
      background-position: inherit;
      position: absolute; top: 0;left: 0; z-index: -1; 
      background: #000; 
      opacity: 0.7; 
    }

    h1{
      font: 700 100px/1 'Roboto Condensed'; 
      letter-spacing: 5px;
      color: #fff; 
      position: absolute; bottom: -15px; left: 12vw;
    }
  }

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;
  }
}


/*----- footer --------------------------------------------------------*/
#footer_sub{
  width: 100%;
  background: $green;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;
    padding: 80px 0 30px;

    h1{
      font: 700 20px/1 'roboto condensed';
      color: #ddd;
      letter-spacing: 5px;
      margin-bottom: 40px;
      text-align: center;
    }
    ul{
      display: flex; justify-content: center;
      margin-bottom: 30px;

      li{
        font: 400 14px/1 'roboto condensed';
        color: #aaa;
        margin-right: 30px;
        &:last-child{margin-right: 0;}
      }

      &.sns{
        li a {color: #bbb;}
      }
    }
    span{
      display: block;
      text-align: center;
      font: 400 12px/1 'roboto condensed';
      letter-spacing: 3px;
      color: #999;
      margin-bottom: 30px;
    }
  }
}





/*----- tablet -----------------------------------------------------*/
@media screen and (max-width: $tablet){
  /*----- header -----------------------------------------------------*/
  #header_sub{
    background: $green;
    .inner{
      width: 100%; height: 60px;
      padding-left: 60px;

      .menuWeb{
        h1{
          position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);
        }
        .gnbWrap{
          display: none;
        }
      }

      .btnCall{
        display: block;
        left: 20px;
      }
    }
  }

  /* content --------------------------------------- */
  .content{
    width: 100%;
    margin-bottom: 80px;

    .sub_visual{
      height: 300px;

      h1{
        font: 700 90px/1 'Roboto Condensed'; 
        letter-spacing: 5px;
        color: #fff; 
        position: absolute; bottom: -14px; left: 10vw;
      }
    }
  }

  #footer_sub{
    .inner{
      width: 100%; 
    }
  }
}

/*----- mobile -----------------------------------------------------*/
@media screen and (max-width: $mobile){
  /*----- header -----------------------------------------------------*/
  #header_sub{
    margin-bottom: 20px;
    position: relative;
    .inner{
      width: 100%; height: 80px;
      padding-left: 0px;


      .menuWeb{
        #gnb_left, #gnb_right {display: none;}
      }

      .btnCall{
        display: block;
        left: 20px;
      }
    }
  }

  /* content --------------------------------------- */
  .content{
    width: 100%;
    padding: 0px;
    margin-bottom:20px;

    .sub_visual{
      height: auto;  
      background: none;
      &::after{ display: none;}

      h1{
        font: 700 40px/1 'Roboto Condensed'; 
        letter-spacing: 3px;
        color: rgba(16, 24, 32, 0.8); 
        position: static; 
        padding-left: 0px;
        text-align: center;
        padding: 20px 0;
      }
    }
  }

  /*----- footer --------------------------------------------------------*/
  #footer_sub{
    .inner{
      width: 100%; 
      margin: 0 auto;
      h1{   margin-bottom: 20px; }
      ul{
        display: block; width: 280px;
        margin: 0 auto;

        li{
          font-size: 12px;
          display: inline-block; width: 30%;
          text-align: center;
          margin-right: 0px;
          padding: 5px 10px;
        }
      }

      span{
        margin-bottom: 10px;
        margin-top: 30px;
        padding: 2px 5px;
      }
    }
  }
}