/*----- youtube sub_visual  section ------------------*/
.youtube{

  .sub_visual{
    background: url(../img/sub2.jpg) no-repeat center/cover ;
    background-position: left 0 bottom -250px;
    filter: contrast(120%);
  }
}

/*----- ------*/