.department{

  .sub_visual{
    background: url(../img/sub1.jpg) no-repeat center/cover fixed;
    background-position: 0/60%;
    opacity: 0.9;
    filter: contrast(140%);
  }
}

.value{
  width: 100%; 

  .inner{
    width: 1180px; 
    margin: 0 auto; 
    position: relative;

    h1{
      font:700 40px/100px 'Roboto Condensed'; 
      letter-spacing: 2px;
      color:$green; 
      margin-bottom:60px; 
    }
  }
}