@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

//반응형 setting
$tablet :1179px;
$mobile :539px;

// 색상

// 서브 페이지
@import 'reset.scss';

/*----- header -----------------------------------------------------*/
#header{
  width: calc(100% -100px); height: 80px;
  background: #000;
  margin-left: 100px;

  .inner{
    width: 1080px; height: 100%;
    margin: 0 auto;
    position: relative;



    .menuWeb{
      width: calc(100% -100px); height: 100%;
      margin: 0 10vw;
      position: relative;

      h1{
        position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
        
        a{
          font: 400 22px/1 'roboto condensed';
          color: #fff;
        } 
      }

      #gnb_left{
        position: absolute; top: 50%; left: 0; transform: translateY(-50%);
        li{
          float:left; margin-right:30px;
          a{
            font-size: 16px; font-weight: 400; font-family: 'roboto condensed';
            color: #aaa;
          }
        }
      }

      #gnb_right{
        position: absolute; top: 50%; right: 0; transform: translateY(-50%);
        li{
          float: left; margin-left:30px;
          a{
            font-size: 16px; font-weight: 400; font-family: 'roboto condensed';
            color: #aaa;
          }
        }
      }
    }

    .btnCall{
      display: none;
    }
    .menuMo{
      display: none;
    }
  }
}

/* ----- section1/visual -------------------------------------------*/
#visual{
  width: calc(100% -100px); height: 100vh;
  margin-left: 100px;
  background: #777;

  
}

/* ----- section2/history -------------------------------------------*/
#history{
  width: calc(100% -100px); height: 300px;
  margin-left: 100px;
  background: #333;
}
/* ----- section3/theViews -----------------------------------------*/
#Views{
  width: 100%; height: 570px;

  .inner{
    width: 1180px; height: 100%;
    padding: 100px 0 0;
    margin:0 auto;
    position: relative;

    .photo{
      width: 420px; height: 570px;
      position: absolute; top: -70px; left: 150px; z-index: 2;

      img{
        width: 100%; 
        object-fit: cover;
      }
    }
    .desMore{
      width: 400px; 
      position: absolute; top: 100px; left: calc( 150px + 420px + 100px);

      h1{
        font: 400 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 3px;
        margin-bottom: 10px;
      }
      h2{
        font: 300 14px/1 'roboto condensed';
        color: #999;
        margin-bottom: 20px;
      }
      p{
        font: 300 12px/1.4 'roboto condensed';
        color: #999;
        margin-bottom: 20px;
      }
      a{
        font: 400 12px/1 'roboto condensed';
        color: #333;
      }
    }
  }
}



/* ----- section4/vid ------------------------------------------------*/
/* ----- section5/landscate-waterfall -------------------------------*/
/* ----- section6/experience----------------------------------------*/
/* ----- section7/wildLife--------------------------------------------*/
/* ----- section8/trip ------------------------------------------------*/
/* ----- section9/stories  --------------------------------------------*/
/* ----- section10/area  ---------------------------------------------*/