@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;500&display=swap');

//반응형 setting
$tablet :1179px;
$mobile :539px;

// 색상
$green: #101820; //#02343F;
$beige : #FFE9CF;
$red: #852132;
$gold: #d1ac8f;
$darkblue: #52616b;
$bgblue: #f0f5f9;
$sky: #BFD9EB;

//#BFD9EB;

// 서브 페이지
@import 'reset.scss';
@import 'subpage.scss';
@import 'department.scss';
@import 'community.scss';
@import 'login.scss';
@import 'join.scss';



/*----- header -----------------------------------------------------*/
#header{
  width: 100%;
  background: $green;

  .inner{
    width: 1180px; height: 80px;
    margin: 0 auto;
    position: relative;

    .menuWeb{
      width: 100%; height: 100%;
      position: relative;
      padding: 30px 0;

      h1{
        position: absolute; top: 50%; left: 50%; transform: translate(-15px , -50%);
        a{
          font: normal 22px/1 'Monoton';
          letter-spacing: 2px;
          color: $beige;
        } 
      }

      .gnbWrap{
        width: 100%; 
        display: flex; justify-content: center;
        //상단 gnb menu
        #gnb_left{
          margin-right: 136px;
          >li{
            float:left; padding-right: 55px;

            >a{
              font: 400 14px/1 'roboto condensed';
              color: #ddd; position: relative;
              // &.on { text-shadow:#FC0 1px 0 10px;}
              &::after{
                content: ''; display: block; 
                  position: absolute; bottom: -10px; left: 0; 
                  width: 0px; height: 3px; transition: all 250ms ease-in-out;
                  opacity: 0; background: $gold;
              }
              &:hover::after{width: 100%; opacity: 1;}
              &.on::after{width: 100%; opacity: 1;}
            }
          }
        }
        #gnb_right{
          >li{
            float: left; margin-left:30px;

            >a{
              font: 400 14px/1 'roboto condensed'; position: relative;
              color: #ddd;
              &::after{
                content: ''; display: block; 
                  position: absolute; bottom: -10px; left: 0; 
                  width: 0px; height: 3px; transition: all 250ms ease-in-out;
                  opacity: 0; background: $gold;
              }
              &:hover::after{width: 100%; opacity: 1;}
              &.on::after{width: 100%; opacity: 1;}
            }
          }
        }

        //sub
        >ul >li .sub{
          display: none;
          width: 1180px;
          height: 300px;
          background: $green;
          position: absolute; right: 0; top: 80px;
          z-index: 6;
          padding: 30px;
          //자식요소 float으로 배치

          ul{
            width: 200px; 
            padding: 30px 20px;
            border: 1px solid #FFF;

            >li{
              width: 100%;
              a{
                position: relative; z-index: 6;
                color: #fff;
                display: inline-block;
                font: normal 12px/1.2 "roboto condensed";
                width: 150px; height: 10px; padding: 10px;
              }
            }
          }

          &:nth-of-type(1){ padding: 0px;}

          &.depth2_dep{
            //display: block;

            strong{
              font-size: 30px;
              font-weight: 700;
              font-family: "roboto condensed";
              //transform: rotate(-90deg);
              color: #fff;
              background: #ddd;
              position: relative;
              float: left;
            }
            
            ul{
              float: left;
            }

            .sub_content{
              float: left;
              display: block;
              width: 100px; height: 200px;
              border: 1px solid #ddd;

            }

          }
        }
      }

    }

    .btnCall{
      display: none;
      position: absolute; top: 40%; left: 0px; z-index: 6;
      width: 20px; height: 20px; border: #fff;
      
      &::before{
        content: ""; display: block; width: 100%; height: 2px;
        background: #fff; border-radius: 4px;
        position: absolute; bottom: 0; right: 0; transform: translateY(-1px);
        transition: width 0.3s 0.4s; 
      }
      &::after{
        content: ""; display: block; width: 100%; height: 2px;
        background: #fff; border-radius: 4px;
        position: absolute; top: 0; left: 0; transform: translateY(-1px);
        transition: width 0.3s 0.4s; 
      }

      span{
        display: block; width: 100%;
        position: absolute; top: 50%; left: 0; transform: translateY(-50%);
        text-indent: -9999px;

        &::before{
          content: ""; display: block; width: 100%; height: 2px;
          background: #fff; border-radius: 4px;
          position: absolute; top: 50%; left: 0; transform: translateY(-50%);
          transition: transform 0.3s;
        }
        &::after{
          content: ""; display: block; width: 100%; height: 2px;
          background: #fff; border-radius: 4px;
          position: absolute; top: 50%; left: 0; transform: translateY(-50%);
          transition: transform 0.3s;
        }
      }

      &.on::before{ width: 0; }
      &.on::after{ width: 0; }
      &.on span::before{
        transform: rotate(45deg);
        transition: transform 0.3s 0.8s;
      }
      &.on span::after{
        transform: rotate(-45deg);
        transition: transform 0.3s 0.8s;
      }
    }

    .menuMo{
      position: fixed;
      top:0;
      left: -270px; 
      width: 270px;
      height: 100vh;
      background: #000; 
      transition: 0.5s;
      padding: 25px 30px;
      z-index: 5;

      &.on{ left: 0px;}

      h1{
        padding-bottom: 20px;
        a{
          display: block; font: normal 20px/1 'Monoton';
          color:$beige; text-align: center; letter-spacing: 2px;
        }
      }
      #gnbMo>li{
        >a{
          display: block;
          width: 100%;
          padding: 20px 0;
          border-bottom: 1px solid #ccc;
          font: 500 14px/1 "roboto";
          color: #ccc;
          text-align: center;
          >img{ display: none;}
        }
      }
    }
  }
}

/* ----- section1/visual -------------------------------------------*/
#visual{
  width: 100%; 
  background: $green;

  .inner{
    width: 100%; height: 80vh;
    padding-left: 100px;
    position: relative;
    margin: 0 auto;

    .openVisual{
      width: 100%; height: 79vh;
      background: url(../img/relax.jpg) no-repeat center/cover;
      padding-top: 220px;
      //filter: grayscale(20%);

      h1{
        font: normal 76px/1 'Monoton';
        color: $beige;
        letter-spacing: 30px;
        margin-bottom: 10px;
        text-align: center;
      }
      h2{
        font: 400 16px/1 'roboto condensed';
        color:$beige; opacity: 0.7;
        letter-spacing: 5px;
        margin-bottom: 10px;
        text-align: center;
      }
      a{
        display: block; text-align: center;
        font-size: 35px; color:$beige; opacity: 0.7;
      }
    }
    .util{
      position: absolute; top: 50%; left: 50px; transform: translateY(-50%);

      li{
        margin-bottom: 40px;
        a{
          font-size: 14px;
          color: #aaa;
        }
      }
    }
  }
}
/* ----- section2/history -------------------------------------------*/
#history{
  width: 100%;
  background: $green;
  
  .inner{
    width: 1180px; height: 450px;
    padding-left: 100px;
    position: relative;
    margin: 0 auto;

    ::after{content: ""; display: block; clear: both;}
    h1{
      float: left; width: 50%;
      margin: 120px 0; 
      padding-right: 60px; font: 700 28px/1.4 'roboto condensed';
      color: #fff; text-align: right; letter-spacing: 10px;

      &::after{
        content: ""; display: block;
        width:30px; height: 2px; background: #eee;
        position: absolute; top: 59%; left: 46%;
      }
    }
    .hisWrap{
      position: absolute; top:-60px; right: 0;
      height: 100px; 
      display: flex; justify-content: flex-end;

      .hisPic{
        width: 160px; height: 130px;
        margin-right: 20px;
        overflow: hidden;
        &:nth-of-type(3){margin-right: 0px;}

        img{
          width: 100%; height: 100%;
          object-fit: cover; 
          //border: 1px solid  $beige;
        }
      }
    }
    .hisBtn{
      display: flex;
      position: absolute; top: 8px; left: 41%;
      .btnPrev{
        display: inline-block; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #aaa; text-align: center;
        font-size: 12px; line-height: 30px; color: #aaa; margin-right: 30px;

      }
      .btnNext{
        display: inline-block; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #aaa; text-align: center;
        font-size: 12px; line-height: 30px;  color: #aaa;
      }
    }
    .hisTxt{
      float:right; width: 50%; 
      margin: 120px 0;

      p{
        font: 300 12px/2 'roboto condensed';
        color: #aaa;
        margin-bottom: 20px;
      }
      a{
        display: block; width: 120px; height: 30px;
        padding: 5px 10px; border: 1px solid #ccc;
        font: 700 12px/20px 'roboto condensed';
        color: #ccc;
        letter-spacing: 2px;
        transition: all 0.3s;
        text-align: center;

        i{
          transform: translateX(20px); opacity: 0;
          transition:  transform 0.3s;
        }

        &:hover{
          background: #ccc;
          color: $green;

          i{
            opacity: 1; transform: translateX(10px);
          }
        }
      }
    }
  }
}
/* ----- section3/theViews -----------------------------------------*/
#views{
  width: 100%; height: 570px;

  .inner{
    width: 1180px; height: 100%;
    padding: 100px 0 0;
    margin:0 auto;
    position: relative;

    .viewPic{
      width: 420px; height: 570px;
      position: absolute; top: -70px; left: 150px; z-index: 2;

      img{
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
    .desMore{
      width: 400px; 
      position: absolute; top: 100px; left: calc( 150px + 420px + 100px);

      h1{
        font: 700 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
      h2{
        font: 300 14px/1 'roboto condensed';
        color: #555;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }
      p{
        font: 300 12px/2 'roboto condensed';
        color: #555;
        margin-bottom: 20px;
      }
      a{
        display: block; width: 120px; height: 30px;
        padding: 5px 10px; border: 1px solid $green;
        font: 700 12px/20px 'roboto condensed';
        background: $green;
        color: #fff;
        letter-spacing: 2px;
        transition: all 0.3s;
        text-align: center;

        i{
          transform: translateX(20px); opacity: 0;
          transition:  transform 0.3s;
        }

        &:hover{
          background: #fff;
          color: $green;

          i{
            opacity: 1; transform: translateX(10px);
          }
        }
      }
    }
  }
}
/* ----- section4/vid ------------------------------------------------*/
#vid{
  width: 100%; height: 700px;

  .inner{
    width: 1180px; height: 100%;
    margin:0 auto; 
    position: relative;

    .vidWrap{
      width: 100%; height: 540px;
      margin:0 auto; 

      video{
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
    .desBtn{
      width: 420px; 
      background: rgba(0,0,0,0.9);
      position: absolute; bottom: 76px; left: 150px;
    
      h1{
        font: 700 14px/20px 'roboto condensed'; color: #ccc;
        letter-spacing: 4px;
        padding: 15px 30px;
      }
      p{
        font: 400 12px/2 'roboto condensed'; color: #ccc;
        letter-spacing: 1px;
        padding: 20px 30px 15px;
      }
    }
  }
}
/* ----- section5/museum-------------------------------*/
#museum{
  width: 100%; height: 570px;

  .inner{
    width: 1180px; height: 100%;
    padding: 100px 0 0px;
    margin:0 auto;
    position: relative;

    .museumPic{
      width: 420px; height: 570px;
      position: absolute; bottom: -70px; right: 150px; z-index: 2;

      img{
        width: 100%;  height: 100%;
        object-fit: cover;
      }
    }
    .desMore{
      width: 400px; 
      position: absolute; top: 170px; right: calc( 150px + 420px + 100px);

      h1{
        font: 700 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
      h2{
        font: 300 14px/1 'roboto condensed';
        color: #555;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }
      p{
        font: 300 12px/2 'roboto condensed';
        color: #555;
        margin-bottom: 20px;
      }
      a{
        display: block; width: 120px; height: 30px;
        padding: 5px 10px; border: 1px solid #aaa;
        font: 700 12px/20px 'roboto condensed';
        color: #aaa;
        letter-spacing: 2px;
        transition: all 0.3s;
        text-align: center;

        i{
          transform: translateX(20px); opacity: 0;
          transition:  transform 0.3s;
        }

        &:hover{
          background: $green;
          color: #fff;

          i{
            opacity: 1; transform: translateX(10px);
          }
        }
      }
    }
  }
}
/* ----- section6/experience----------------------------------------*/
#experience{
  width: 100%; height: 670px;
  
  .bgWrap{
    width: 100%; height: 100%;
    background: $green; 

    .inner{
      width: 1180px; height: 570px;
      margin: 0 auto;
      padding-top: 200px;     
      h1{
        font: 700 28px/1 'roboto condensed';
        color: #fff;
        letter-spacing: 5px;
        margin-bottom: 10px;
        text-align: center;
      }
      h2{
        font: 300 14px/1 'roboto condensed';
        color: #ccc;
        letter-spacing: 3px;
        margin-bottom: 20px;
        text-align: center;
      }
      .wrap{
        display: flex; justify-content: center;
        
        article{
          width: 280px; margin-right: 30px; 
          &:nth-of-type(3){margin-right: 0;}
        
          .ExPic{
            width: 100%; height: 170px; overflow: hidden;
            margin-bottom: 20px;
  
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s;
            }
            &:hover img{
              transform: scale(1.2);
            }
          }
          .ExTxt{
            h3{
              font: 700 14px/1 'roboto condensed';
              color: #fff;
              letter-spacing: 3px;
              margin-bottom: 10px;
            }
            p{
              font: 400 12px/2 'roboto condensed';
              color: #ccc;
              margin-bottom: 10px;
            }
            a{
              font: 700 12px/1 'roboto condensed';
              color: #fff;
              i{margin-left: 10px;}
            }
          }
        }
      }
    }

  }
}
/* ----- section7/bathroom--------------------------------------------*/
#bathroom{
  width: 100%; height: 672px;
  background: $green;

  .inner{
    width: 1180px; height: 100%;
    margin:0 auto; 
    position: relative;

    .bathPic{
      width: 100%; height: 440px;

      img{
        width: 100%; height: 100%;
        object-fit: cover;
        background-position: fixed;
      }
    }
    .desBtn{
      width: 420px; 
      background: rgba(0,0,0,0.9);
      position: absolute; bottom: 101px; right: 150px;

    
      h1{
        font: 700 14px/20px 'roboto condensed'; color: #ccc;
        letter-spacing: 4px;
        padding: 15px 30px;
      }
      p{
        font: 400 12px/2 'roboto condensed'; color: #ccc;
        letter-spacing: 1px;
        padding: 20px 30px 15px;
      }
    }
  }
}
/* ----- section8/home ------------------------------------------------*/
#home{
  width: 100%; height: 570px;

  .inner{
    width: 1180px; height: 100%;
    padding: 100px 0 0;
    margin:0 auto;
    position: relative;

    .homePic{
      width: 420px; height: 570px;
      position: absolute; top: -70px; left: 150px; z-index: 2;

      img{
        width: 100%; height: 100%;
        object-fit: cover;
        object-position: center bottom;
      }
    }
    .desMore{
      width: 400px; 
      position: absolute; top: 100px; left: calc( 150px + 420px + 100px);

      h1{
        font: 700 28px/1 'roboto condensed';
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
      h2{
        font: 300 14px/1 'roboto condensed';
        color: #555;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }
      p{
        font: 300 12px/2 'roboto condensed';
        color: #555;
        margin-bottom: 20px;
      }
      a{
        display: block; width: 120px; height: 30px;
        padding: 5px 10px; border: 1px solid $green;
        font: 700 12px/20px 'roboto condensed';
        background: $green;
        color: #fff;
        letter-spacing: 2px;
        transition: all 0.3s;
        text-align: center;

        i{
          transform: translateX(20px); opacity: 0;
          transition:  transform 0.3s;
        }

        &:hover{
          background: #fff;
          color: $green;

          i{
            opacity: 1; transform: translateX(10px);
          }
        }
      }
    }
  }
}
/* ----- section9/stories  --------------------------------------------*/
#stories{
  width: 100%; height:360px;

  .inner{
    width: 100%; 
    margin: 0 auto;

    h1{
      font: 700 28px/1 'roboto condensed';
      color: $green;
      letter-spacing: 5px;
      margin-bottom: 10px;
      text-align: center;
    }
    h2{
      font: 300 14px/1 'roboto condensed';
      color: #777;
      letter-spacing: 3px;
      margin-bottom: 20px;
      text-align: center;
    }
    .storyGallery{
      width: 100%; 
      position: relative;
      display: flex;

      .storyPic{
        width: 23%; height: 180px; 
        margin: 1%;
        overflow: hidden;
  
        img{
          width: 100%; height: 100%; object-fit: cover;
        }
        .storyTxt{
          width: 210px;  margin-left: 20px;
          position: relative; 
          transform: translateY(0px);
          transition : transform 0.35s;

          h3{
            font: 300 14px/20px 'roboto condensed';
            color: #fff;
            position: absolute;  bottom: 30px; left: 0;
          }
          >p{
            font: 300 14px/20px 'roboto condensed';
            color: #fff;
            position: absolute;  bottom: 10px; left: 0;
          }
        }
        figcaption{
          padding: 10px;
          color: #555;
          text-transform: uppercase;
          font-size:  12px;
          top: auto;
          bottom: 0;
          height: 30%;
          background: #fff;
          color: $darkblue;
          transition: 0.5s;
          opacity: 0;

          >p{
            float:left;   line-height: 30px;
            position: absolute; 
            span{ font-weight: blod;}
          }
          >ul{
            display: flex; justify-content: flex-end; align-items: center;
            li{
              margin: 5px; height: auto;
              transition: transform 0.35s;
              transform: translate3d(0,200%,0);
            }
          }
        }

        &:hover .storyTxt{
          transform: translateY(-120px);
        }
        &:hover figcaption{
          color: #fff; opacity: 1;
          position: relative; bottom: 30%;
          background: rgba(0,0,0,0.8);

          li{
            transform: translate3d(0,0,0);
            color: #ffff;
          
            &:nth-of-type(1){transition-delay: 0.1s;}
            &:nth-of-type(2){transition-delay: 0.15s;}
            &:nth-of-type(3){transition-delay: 0.2s;}
          }
        }
      }
    }
  }

}
/* ----- section10/area  ---------------------------------------------*/
#area{
  width: 100%; height: 600px;

  .inner{
    width: 1180px; height: 100%;
    margin:0 auto; 
    position: relative;

    .areaPic{
      width: 1100px; height: 440px;
      margin:0 auto; 

      img{
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
    .desBtn{
      width: 420px; 
      background: rgba(0,0,0,0.9);
      position: absolute; bottom: 53px; left: 150px;
    
      h1{
        font: 700 14px/20px 'roboto condensed'; color: #ccc;
        letter-spacing: 4px;
        padding: 15px 30px;
      }
      p{
        font: 400 12px/2 'roboto condensed'; color: #ccc;
        letter-spacing: 1px;
        padding: 20px 30px 15px;
      }
      ul{
        position: absolute; top: 5px; right: 30px;
        li{
          float: left; padding: 5px;
          i{
            color: #fff; font-size: 10px; 
          }
        }
      }
    }
  }
}
/*----- footer --------------------------------------------------------*/
#footer{
  width: 100%;
  background: $green;

  .inner{
    width: 1180px; 
    margin: 0 auto;
    position: relative;
    padding: 80px 0 30px;

    h1{
      font: 700 20px/1 'roboto condensed';
      color: #ddd;
      letter-spacing: 5px;
      margin-bottom: 40px;
      text-align: center;
    }
    ul{
      display: flex; justify-content: center;
      margin-bottom: 30px;

      li{
        font: 400 14px/1 'roboto condensed';
        color: #aaa;
        margin-right: 30px;
        &:last-child{margin-right: 0;}
      }

      &.sns{
        li a {color: #bbb;}
      }
    }

    span{
      display: block;
      text-align: center;
      font: 400 12px/1 'roboto condensed';
      letter-spacing: 3px;
      color: #999;
      margin-bottom: 30px;
    }
  }
}




/* tablet ------------------------------------------------------------*/
@media screen and (max-width: $tablet){
  /*----- header -----------------------------------------------------*/
  #header{
    .inner{
      width: 100%; height: 60px;
      padding-left: 60px;

      .menuWeb{
        h1{transform: translate(-50%, -50%);}
        .gnbWrap{
          display: none;
        }
      }

      .btnCall{
        display: block;
        left: 20px;
      }
    }
  }

  /* ----- section1/visual -------------------------------------------*/
  #visual{
    .inner{
      width: 100%;
      padding-left: 60px;
      .openVisual{
        h1{
          font-size: 2.5rem;
          letter-spacing: 25px;
        }
      }
      .util{
        top: 40%; left: 20px; transform: translateY(-50%);
      }
    }
  }

  /* ----- section2/history -------------------------------------------*/
  #history{
    .inner{
      width: 100%;  height: 730px;
      padding-left: 0px; padding-top: 50px;

      h1{
        width: 100%;
        font: 700 28px/1.4 'roboto condensed';
        text-align: center; margin: 0px 0px 40px; padding-right: 0px;
        position: relative;

        &::after{
          width: 240px; 
          top: 110%;; left:50%; transform: translateX(-51%);
        }
      }
      .hisWrap{
        position:static;
        width: 100%; height: auto; 
        display: flex; justify-content: center;
        margin-bottom: 60px;
      }
      .hisBtn{
        display: flex;
        position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%);
        .btnPrev{ width: 20px; height: 20px;  line-height: 18px; font-size: 10px; }
        .btnNext{ width: 20px; height: 20px;  line-height: 18px; font-size: 10px; }
      }
      .hisTxt{
        float:auto;
        display: block; width: 100%; 
        margin: 0 auto;

        p{ display: block;  width: 100%; padding: 0px 30px;}
        a{
          display: block;  margin: 0 30px;
          border: none;
          padding: 0px 0px; 
          color: #ccc;
          letter-spacing: 2px;
          transition: all 0s;
          text-align: left;
  
          i{
            transform: translateX(10px); opacity: 1;
            transition:  transform 0s;
          }
          &:hover{
            background: $green;
            color: #ccc;
            i{
              opacity: 1; transform: translateX(10px);
            }
          }
        }
      }
    }
  }
  /* ----- section3/theViews -----------------------------------------*/
  #views{
    height: 500px;

    .inner{
      width:100%; 
      padding: 0;
      position: relative;


      .viewPic{
        width: 48%; height: 520px;
        position: absolute; top: -100px; left: 10px; z-index: 2;
        img{
          height: 100%; 
        }
      }
      .desMore{
        width: 48%; height: 380px;
        position: absolute; top: 0px; left: 50%; 
        padding: 50px 20px;

        h2{  letter-spacing: 2px;}
      }
    }
  }
  /* ----- section4/vid ------------------------------------------------*/
  #vid{
    height: 600px;

    .inner{
      width: 100%;  margin: 50px 0 0;

      .vidWrap{ width: 100%; }
      .desBtn{
        width: 420px; 
        position: absolute; bottom: -23px; left: 5%;
      }
    }
  }
  /* ----- section5/museum -------------------------------*/
  #museum{
    margin-top: 30px;
    height: 500px;

    .inner{
      width:100%; 
      padding: 0;
      position: relative;
    

      .museumPic{
        width: 47%; height: 520px;
        position: absolute; bottom: -100px; right: 3%; z-index: 2;

        img{ height: 100%; }
      }
      .desMore{
        width: 48%; height: auto;
        position: absolute; top: auto; bottom: 50px; right: 50%;
        padding: 80px 20px;

        h2{  letter-spacing: 2px;}
        p{
          height: 170px; overflow: hidden;
        }
      }
    }
  }
  /* ----- section6/experience----------------------------------------*/
  #experience{
    .bgWrap{
      .inner{
        width: 100%; height: 570px;
        padding-top: 180px;     

        .wrap{
          display: flex; justify-content: space-between; align-content: center;
          article{
            width: 30% ; margin-right: 30px; 
            &:nth-of-type(3){margin-right: 0;}

            .ExTxt{
              h3{
                padding: 0 5px;
              }
              p{
                padding: 0 5px;
              }
              a{
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }
  /* ----- section7/bathroom--------------------------------------------*/
  #bathroom{
    height: 709px;

    .inner{
      width: 100%; 

      .bathPic{
        width: 100%; height: 500px;
        padding: 50px 0;
      }
      .desBtn{
        width: 420px; 
        position: absolute; bottom: 164px; right: 5%;

        p{
          height: 95px; overflow: hidden;  padding: 15px 30px;
        }
      }
    }
  }
  /* ----- section8/home ------------------------------------------------*/
  #home{
    height: 500px;

    .inner{
      width:100%; 
      padding: 0;
      position: relative;

      .homePic{
        width: 48%; height: 520px;
        position: absolute; top: -100px; left: 10px; z-index: 2;
        img{
          height: 100%; 
        }
      }
      .desMore{
        width: 48%; height: 380px;
        position: absolute; top: 0px; left: 50%; 
        padding: 50px 20px;

        h2{  letter-spacing: 2px;}
      }
    }
  }
  /* ----- section9/stories  --------------------------------------------*/
  #stories{
    width: 100%; height: auto;
    margin-bottom: 20px;

    .inner{
      width: 100%;
      h1{
        margin-top: 50px;
      }

      .storyGallery{
        width: 100%; 
        position: relative;
        display: flex; flex-wrap: wrap; justify-content: center; 

        .storyPic{
          width: calc(30%); min-width: 230px; height: 30vw; min-height: 120px;
          margin: 10px;

          .storyTxt{
            transition: 0s;
          }
          figcaption{
            display: none;
          }
          &:hover .storyTxt{
            top: 0px; transition: 0s;
          }
          &:hover figcaption{
            display: none;
          }
        }

      }
    }

  }
  /* ----- section10/area  ---------------------------------------------*/
  #area{
    height: 600px;
    .inner{
      width: 100%;

      .areaPic{
        width: 100%; 
      }
      .desBtn{
        width: 420px; 
        position: absolute; bottom: 53px; left: 5%;
      }
    }
  }
  /*----- footer --------------------------------------------------------*/
  #footer{
    .inner{
      width: 100%; 
    }
  }
}



/* mobile------------------------------------------------------------*/
@media screen and (max-width: $mobile){
  /*----- header -----------------------------------------------------*/
  #header{
    .inner{
      width: 100%; height: 80px;
      padding-left: 0px;

      .menuWeb{
        #gnb_left, #gnb_right {display: none;}
      }

      .btnCall{
        display: block;
        left: 20px;
      }
    }
  }

  /* ----- section1/visual -------------------------------------------*/
  #visual{
    .inner{
      padding-left: 0px;
      .openVisual{
        h1{
          font-size: 1.5rem;
          letter-spacing: 15px;
        }
      }
      .util{  display: none;  }
    }
  }

  /* ----- section2/history -------------------------------------------*/
  #history{
    .inner{
      height: 850px;
      padding-top: 80px;

      h1{
        font: 700 20px/1.3 'roboto condensed';

        &::after{
          width: 30px; 
          top: 114%; left: 50%; transform: translateX(-51%);
        }
      }
      .hisWrap{
        display: block;
        margin: 0 auto;

        .hisPic{
          margin: 0 auto;
          &:nth-of-type(3){margin: 0 auto;}
          padding-bottom: 10px;
        }
      }
      .hisBtn{ position: absolute; top: 70%; left: 50%;}
      .hisTxt{ padding: 30px 0 0;  
        p{  overflow: hidden; height: 150px;}
      }
    }
  }
  /* ----- section3/theViews -----------------------------------------*/
  #views{
    height: 900px;

    .inner{  
      margin: 0 auto;

      .viewPic{
        width: 100%; max-width: 340px; height: 520px;
        position: static;
        padding-top: 40px;
        margin: 0 auto;

        img{
          width: 100%; height: 100%; 
        }
      }
      .desMore{
        width: 100%; height: 380px;
        position: static;
        padding: 50px 20px;
        text-align: center;

        h2{  letter-spacing: 2px;}
        p{ line-height: 1.5;}
        a{  margin:0 auto;  }
      }
    }
  }
  /* ----- section4/vid ------------------------------------------------*/
  #vid{
    height: 600px;

    .inner{
      width: 100%;  margin: 50px 0 0;

      .vidWrap{ width: 100%; }
      .desBtn{
        width: 100%; 
        position: static;
        h1{ padding: 5px 10px;}
        p{ padding: 5px 10px; height: 58px;  overflow: hidden;}
      }
    }
  }
  /* ----- section5/museum -------------------------------*/
  #museum{
    margin-top: 30px;
    height: 900px;

    .inner{
      margin: 0 auto;


      .museumPic{
        width: 100%; max-width: 340px; height: 520px;
        position: static;
        padding-top: 40px;
        margin: 0 auto;

        img{ height: 100%; }
      }
      .desMore{
        width: 100%; height: 380px;
        position: static;
        padding: 50px 20px;
        text-align: center;

        h2{  letter-spacing: 2px;}
        p{ line-height: 1.5; height: 108px; overflow: hidden;}
        a{  margin:0 auto;  }
      }
    }
  }
  /* ----- section6/experience----------------------------------------*/
  #experience{
    height: 1200px;
    .bgWrap{
      .inner{
        width: 100%; 
        padding-top: 60px;     

        .wrap{
          display: block; margin: 0 auto;

          article{
            width:100%; max-width: 340px; 
            margin: 0 auto;
            &:last-child{margin: 0 auto;}

            .ExTxt{
              margin-bottom: 30px;
              h3{
                padding: 0 10px;
              }
              p{
                padding: 0 10px;
              }
              a{
                padding: 0 10px;
              }
            }
          }
        }
      }
    }
  }
  /* ----- section7/bathroom--------------------------------------------*/
  #bathroom{
    height: 614px;

    .inner{
      width: 100%; 

      .bathPic{
        width: 100%;
        padding: 0 0;
      }
      .desBtn{
        width: 100%;
        position: static;

        h1{ padding: 5px 10px;}
        p{ padding: 5px 10px; height: 82px; overflow: hidden;}
      }
    }
  }
  /* ----- section8/home ------------------------------------------------*/
  #home{
    height: auto;

    .inner{
      margin: 0 auto;

      .homePic{
        width: 100%; max-width: 340px; height: 520px;
        position: static;
        padding-top: 40px;
        margin: 0 auto;

        img{
          width: 100%; height: 100%; 
        }
      }
      .desMore{
        width: 100%; height: 300px;
        position: static;
        padding: 50px 20px;
        text-align: center;

        h2{  letter-spacing: 2px;}
        p{ line-height: 1.5; height: 72px; overflow: hidden;}
        a{  margin:0 auto;  }
      }
    }
  }
  /* ----- section9/stories  --------------------------------------------*/
  #stories{
    width: 100%; height: 1200px;

    .inner{
      width: 100%;
      h1{
        margin-top: 50px;
      }

      .storyGallery{
        width: 100%; 
        position: relative;

        display: block;

        .storyPic{
          width: 100%; max-width: 340px; height: 220px;
          margin: 0 auto;
          padding-bottom: 10px;
        }
      }
    }

  }
  /* ----- section10/area  ---------------------------------------------*/
  #area{
    height: auto;
    .inner{
      width: 100%;  margin: 50px 0 0;

      .areaPic{
        width: 100%; 
      }
      .desBtn{
        width: 100%; 
        position: static;
        h1{ padding: 5px 10px;}
        p{ padding: 5px 10px; height: 58px; overflow: hidden;}
      }
    }
  }
  /*----- footer --------------------------------------------------------*/
  #footer{
    .inner{
      width: 100%; 
      margin: 0 auto;
      h1{   margin-bottom: 20px; }
      ul{
        display: block; width: 280px;
        margin: 0 auto;

        li{
          font-size: 12px;
          display: inline-block; width: 30%;
          text-align: center;
          margin-right: 0px;
          padding: 5px 10px;
        }
      }

      span{
        margin-bottom: 10px;
        margin-top: 30px;
        padding: 2px 5px;
      }
    }
  }
}